{% extends 'layouts/app.jinja2' %}

{% block title %}欢迎 | Laravel{% endblock %}
{% block content %}

    <div class="py-5 text-center banner">
        <div class="container py-5">
            <div class="row">
                <div class="col-md-12 text-light">
                    <h1 class="display-3 mb-4">工作报告发送</h1>
                    <p class="lead mb-5">请在每周六之前发送至领导邮箱</p>
                    <a href="#" class="btn btn-lg btn-outline-light mx-1">开始填写</a>
                </div>
            </div>
        </div>
    </div>
    <div class="py-5">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <h4>Recent Works</h4>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header"> Header</div>
                        <div class="card-body">
                            <h4>Card title</h4>
                            <h6 class="text-muted">Subtitle</h6>
                            <p>Some quick example text to build on the card title .</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bg-primary py-5">
        <div class="container">
            <div class="row">
                <div class="col-md-8 my-3">
                    <h1 class="display-4 text-white text-md-left text-center">Spread the love&nbsp;</h1>
                </div>
                <div class="col-md-4  text-center align-self-center">
                    <a href="https://www.facebook.com/" target="_blank">
                        <i class="fa fa-fw fa-facebook fa-3x text-white mx-3"></i>
                    </a>
                    <a href="https://twitter.com/" target="_blank">
                        <i class="fa fa-fw fa-twitter fa-3x text-white mx-3"></i>
                    </a>
                    <a href="https://www.instagram.com/" target="_blank">
                        <i class="fa fa-fw fa-instagram fa-3x text-white mx-3"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}